<div>
  <div class="board-row">
    <square index="0" [(gameState)]="gameState" (gameStateChange)="updateGameState($event)"></square>
    <square index="1" [(gameState)]="gameState" (gameStateChange)="updateGameState($event)"></square>
    <square index="2" [(gameState)]="gameState" (gameStateChange)="updateGameState($event)"></square>
  </div>
  <div class="board-row">
    <square index="3" [(gameState)]="gameState" (gameStateChange)="updateGameState($event)"></square>
    <square index="4" [(gameState)]="gameState" (gameStateChange)="updateGameState($event)"></square>
    <square index="5" [(gameState)]="gameState" (gameStateChange)="updateGameState($event)"></square>
  </div>
  <div class="board-row">
    <square index="6" [(gameState)]="gameState" (gameStateChange)="updateGameState($event)"></square>
    <square index="7" [(gameState)]="gameState" (gameStateChange)="updateGameState($event)"></square>
    <square index="8" [(gameState)]="gameState" (gameStateChange)="updateGameState($event)"></square>
  </div>
</div>
